# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
ENV/
.idea/
.vscode/

# Archives (на случай тестовых архивов)
*.zip
*.tar
*.gz

# Virtual Environment
.venv/
venv/
ENV/
env/

# Package metadata
*.egg-info/
*.egg
# Lock files (optional)
requirements-lock.txt
